{% extends 'base.html' %}
{% block content %}

<div class="date-details">
<h1>{{ dateidea.restaurant }}</h1>
<h4>Where: {{ dateidea.city }}, {{ dateidea.state }}</h4>
<h4>When: {{ dateidea.meal }} on {{ dateidea.date }}</h4>
<h4>With: <a href="{% url 'user_detail' dateidea.user.pk %}" class="date-idea-user-link">{{ dateidea.user.profile.name }}</a></h4>
</div>

{% if request.user == dateidea.user %}
<div class="card-action">
    <a href="{% url 'dateideas_update' dateidea.pk %}">Edit</a>
    <a href="{% url 'dateideas_delete' dateidea.pk %}">Delete</a>
</div>
{% endif %}

{% endblock %}