{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
<hr>
<p>Welcome to Eros, the dating app that's all about finding your perfect match! We know that dating can be tough, so we're here to make it a little bit easier. 
<br>
<br>
The founder of Eros is a self-proclaimed foodie and social butterfly who loves nothing more than meeting new people over a delicious meal. She was frustrated with the current dating apps that were focused solely on swiping left or right based on physical appearance, and wanted to create a platform that would allow people to connect over shared interests and experiences.
<br>
<br>
That's why she came up with the idea for Eros, a dating app that matches people based on their desired meal date ideas. Whether you're a sushi fanatic, a pizza lover, or someone who can't resist a good brunch, Eros has got you covered.
<br>
<br>
The app has quickly gained a following among foodies and adventurous daters alike, who appreciate the unique approach to matchmaking and the opportunity to try new restaurants and cuisines with someone special. So if you're looking to spice up your dating life and expand your culinary horizons, Eros might just be the perfect app for you!</p>

{% endblock %}
