{% extends 'base.html' %}
{% block content %}

<h1>FAQ</h1>

<p>
<b>1. How does Eros work?</b>
<br>
Eros is a dating app that allows people to match specifically through their desired meal date ideas. Users can browse through different meal ideas, select their preferences, and swipe right on potential matches who share similar interests.
<br>
<br>
<b>2. Can I use Eros if I'm not a foodie?</b>
<br>
Absolutely! While Eros is designed with food in mind, it's not a requirement to be a food lover to use the app. You can still browse and match with people based on other interests and activities.
<br>
<br>
<b>3. Is Eros only for serious relationships?</b>
<br>
Not necessarily. Eros is designed for people to connect over shared interests and activities, which can include anything from casual hangouts to long-term relationships. It's up to you to decide what you're looking for and communicate that with your matches.
<br>
<br>
<b>4. How does Eros ensure user safety?</b>
<br>
Eros takes user safety very seriously and has several measures in place to protect its users. This includes verifying user accounts, allowing users to report suspicious or inappropriate behavior, and implementing a team to review and handle reported issues.
<br>
<br>
<b>5. Is Eros free to use?</b>
<br>
Eros is completely free to use.
</p>

{% endblock %}