{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;800&family=Rubik+Mono+One&family=Wix+Madefor+Text&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <img class="logo" src="{% static '/media/transparent-white-banner.png' %}">
    <h1>Landing Page</h1>
    <hr>
    <p>landing page</p>

    <footer class="page-footer">
        <ul>
          <li><a href="{% url 'about' %}">Home</a></li>
          <li><a href="{% url 'users_list' %}">Find A Match</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'faq' %}">FAQ</a></li>
        </ul>
    </footer>
</body>
</html>