.landing-page-body {
  background-color: red;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
  }
  

  
main {
    flex: 1 0 auto;
  }
  
/* footer.page-footer {
    padding-top: 0;
    text-align: left !important;
  }

footer.page-footer ul {
    display: inline-block !important;
    margin: 0 10px;
    padding: 0;
  }

footer.page-footer li {
  display: inline-block !important;
  margin: 0 10px;
  padding: 0;
} */

img {
  height: 100px !important;
  width: auto !important;
  margin-bottom: 1rem;
}